<ion-header>
  <ion-toolbar color="primary">
    <ion-title>E-board Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" value="" [(ngModel)]="loginData.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
    </ion-item>

    <ion-button block (click)="authenticate()">Proceed</ion-button>
    <p>{{status}}</p>
  </ion-list>
</ion-content>
