<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Document Annotation</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap" position="fixed" color="primary">Annotation</ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea rows="6" cols="35" placeholder="Enter File notes here..." [(ngModel)]="annotation.annotation"></ion-textarea>
      </ion-item>

      <ion-item>
          <ion-button block (click)="postAnnotation()">Proceed</ion-button>
      </ion-item>
     
    </ion-card-content>
  </ion-card>
</ion-content>

