<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
          <ion-menu-button menu="drawer"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      ERC  Eboard Folders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item *ngFor="let item of folders " (click)="showSub(item)" detail>
                    <ion-icon name="folder"></ion-icon>
                    <ion-label>
                        {{item.title}}
                    </ion-label>

                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>



  <!--<ion-button (click)="logout()">Log Out</ion-button>-->
</ion-content>
